<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchEigo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA65A5351E6A910F00F7A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA65A5491E6A911000F7A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA65A5541E6A911000F7A898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
